@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #f8efdd;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav > ul {
  display: flex;
  list-style-type: none;
  font-size: 18px;
}

nav > ul > li > a {
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

nav > ul > li > a:hover,
nav > ul > li > a.active {
  color: #74e1e1;
}

.logo {
    position: relative;
  font-size: 25px;
  font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards ;
    animation-delay: .4s;
}

.home {
  height: 100vh;
  background: url('../img/home.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home > article {
  max-width: 600px;
}

.home h1 {
    position: relative;
  font-size: 53px;
  font-weight: 700;
  line-height: 1.2;
}

.home h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards ;
    animation-delay: 1s;
}

.home h3 {
    position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #74e1e1;
}

.home h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards ;
    animation-delay: 1.3s;
}

.home p {
    position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards ;
    animation-delay: 1.6s;
}

.btns {
    position: relative;
  width: 345px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.home .btns::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards ;
    animation-delay: 1.9s;
    z-index: 2;
}

.btns a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: #74e1e1;
  border: #74e1e1 2px solid;
  border-radius: 8px;
  color: #081b29;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btns a:hover {
  color: #74e1e1;
}

.btns a:nth-child(2) {
  background-color: transparent;
  color: #74e1e1;
}

.btns a:nth-child(2):hover {
  color: #081b29;
}

.btns a:nth-child(2)::before {
  background-color: #74e1e1;
}

.btns a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
  background-color: #081b29;
}

.btns a:hover::before {
  width: 100%;
}

.icons {
  margin-top: 100px;
  display: flex;
  width: 170px;
  justify-content: space-between;
  position: relative;
}

.icons::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards ;
    animation-delay: 2.5s;
    z-index: 2;
}

.icons a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #74e1e1;
  border-radius: 50%;
  font-size: 20px;
  color: #74e1e1;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.icons a > i {
  color: #74e1e1;
  transition: .5s;
}

.icons a>i:hover{
color: #081b29;
}



.icons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: .5s;
  background-color: #74e1e1;
}

.icons a:hover::before{
     width: 100%;
}

.imgHover{
position: absolute;
top: 0;
right: 30px;
width: 40%;
height: 100%;
background-color: transparent;
transition: 3s;
animation: maniActiveHover .1s forwards;
animation-delay: 4s;
pointer-events: none;
}

.imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards ;
    animation-delay: 3s;
    z-index: 100;
}

.imgHover:hover{
    background-color: #081b29;
    opacity: .8;
}

@keyframes showRight{
    100%{
        width: 0;
    }
}

@keyframes maniActiveHover{
    100%{
        pointer-events: auto;
    }
}